@import './utils/variables';
@import './components/main-container';
@import './components/sidebar';
@import './components/about-me';

img {
  display: block;
  height: auto;
}
body {
  background: $primary-bg;
  font-family: Montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
}
p {
  margin: 0;
}
